<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>
    <h1>Pig Latinizer!</h1>

      <form method = "post" action="/piglatinize">
        <h3>Enter your phrase:</h3>
        <textarea name="user_phrase"></textarea>
        <br>
        <button type="submit" value="submit">Submit</button>
      </form>

  </body>
</html>
